body.page-register .default-header {
	display: none;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}
.titulo {
    text-align: center;
}

.card {
    border: 1px solid var(--secondary-color);
}

.select {
    height: 55px;
}

.estado {
    margin-bottom: 40px;
}

.form-control {
    height: 60px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    color: black;
}

.card .fa-solid {
    font-size: 2.7em;
}

.input-group-text {
    height: 60px;
}

.form-btn {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #fff;
    height: 50px;
    width: 196px;
    font-weight: 500;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}

.form-btn>span {
    margin: 0 auto;


}

.form-btn:hover {
    background-color: #fff;
    color: var(--primary-color);
    border-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

#cardLastLine {
    display: flex;
    justify-content: center;
}

.form-links {
    margin-top: 50px;
}

.form-link {
    text-decoration: none;
}