% extends 'app/base.html' %}
{% load static %}
{% block page-title %}recovery-password{%endblock%}
{% block title %}Recuperar senha{%endblock%}
{% block head %}
   <link rel="stylesheet" href="{% static 'app/css/auth/recovery-password.css' %}">
{% endblock %}

{% block content %}
   <section>
      <h1>Página em construção</h1>
      <p>Em breve estará disponível</p>
      <button class="button button-default button-large">
         <a href="/login">Voltar</a>
      </button>
   </section>

{% endblock %}