{% extends 'app/base.html' %}
{% load static %}
{% block title %}Editar Clientes - {{costumer.tb_person.first_name}} {{costumer.tb_person.last_name}}{% endblock %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'app/css/register.css' %}">   
{% endblock %}


{% block content %}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-12">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <div class="row text-center">
                            <h3 class="pb-2">Editar Cliente: {{costumer.tb_person.first_name.title}}
                                {{costumer.tb_person.last_name.title}}</h3>
                        </div>

                        <form method="post" action="#">
                            {% csrf_token %}
                            <div class="row">
                                <h4 class="mb-2 py-4 border-bottom row justify-content-center">Dados Pessoais</h4>
                                {% comment %} <h4 class="mb-2 py-4 border-bottom row justify-content-center" class="titulo">Dados Pessoais</h4> {% endcomment %}
                            </div>
                            <div class="row justify-content-center mb-6 pt-4">
                                <div class="col-md-3">
                                    <div class="col-auto">
                                        <label class="form-label" for="first_name">Primeiro Nome</label>
                                        <div class="input-group mb-2">
                                            <input type="text" class="form-control" id="firstName" name="first_name"
                                                value="{{costumer.tb_person.first_name}}" placeholder="Primeiro Nome"
                                                required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 mb-4">
                                    <div class="col-auto">
                                        <label class="form-label" for="last_name">Sobrenome</label>
                                        <div class="input-group mb-2">
                                            <input type="text" class="form-control" id="lastName" name="last_name"
                                                value="{{costumer.tb_person.last_name}}" placeholder="Sobrenome"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-4">
                                    <div class="col-auto">
                                        <label class="form-label" for="birth_date">Data de Nascimento: </label>
                                        <div class="input-group mb-2">
                                            <input type="date" class="form-control" id="birth_date"
                                                name="birth_date" value="{{birth_date}}">

                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-3 mb-4 pb-2">
                                        <div class="col-auto">
                                            <label class="form-label" for="email">Email</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><i
                                                            class="fa-solid fa-envelope fa-2x"></i></div>
                                                </div>
                                                <input type="email" class="form-control" id="email" name="email"
                                                    value="{{costumer.tb_person.email}}" placeholder="your@mail.com"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-4 pb-2">
                                        <div class="col-auto">
                                            <label class="form-label" for="phone">Telefone</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><i
                                                            class="fa-solid fa-phone fa-2x"></i></div>
                                                </div>
                                                <input type="text" class="form-control" id="cellhpone" name="phone"
                                                    value="{{phone.ddd}}{{phone.number}}"
                                                    placeholder="(31) 40028922" maxlength="11" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-4">                                  
                                        <h6 class="mb-2 pb-4">Gênero </h6>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender" id="femaleGender" value="F" 
                                                {% if costumer.tb_person.gender == 'F' %} checked {% endif %} />
                                            <label class="form-check-label" for="femaleGender">Feminino</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender" id="maleGender" value="M" 
                                                {% if costumer.tb_person.gender == 'M' %} checked {% endif %} />
                                            <label class="form-check-label" for="maleGender">Masculino</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender" id="otherGender" value="O" 
                                                {% if costumer.tb_person.gender == 'O' %} checked {% endif %} />
                                            <label class="form-check-label" for="otherGender">Outro</label>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-4 mb-4 pb-2">
                                        <div class="col-auto">
                                            <label class="form-label" for="cpf">CPF</label>
                                            <div class="input-group mb-2">
                                                <input type="text" class="form-control" id="cpf" name="cpf"
                                                    value="{{costumer.tb_person.cpf}}" placeholder="123.456.789-21"
                                                    maxlength="11" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md3 mb-4 pb-2">
                                        <div class="col-auto">
                                            <label for="status" class="form-label">Status</label>
                                            <select class="select form-select" name="status" >
                                                {% if costumer.status%}
                                                <option value="true">
                                                    Ativo</option>
                                                {% else %}
                                                <option value="false" disabled selected>Inativo</option>
                                                {% endif %}
                                                <option value="true">Ativo</option>
                                                <option value="false">Inativo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <h4 class="mb-2 py-4 border-bottom row justify-content-center">Residência</h4>
                            </div>
                            <div class="row justify-content-center pt-4">
                                <div class="col-md-3 mb-4 pb-2">
                                    <div class="col-auto">
                                        <label class="form-label" for="cep">CEP</label>
                                        <div class="input-group mb-2">
                                            <input type="text" class="form-control" id="Cep" name="cep"
                                                value="{{costumer.tb_person.address.cep}}" placeholder="00000-00"
                                                maxlength="8" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-4 pb-2">
                                    <div class="col-auto">
                                        <label class="form-label" for="streetAvenue">Rua</label>
                                        <div class="input-group mb-2">
                                            <input type="text" class="form-control" id="streetAvenue"
                                                name="street_avenue" placeholder="Rua/Avenida" maxlength="40"
                                                value="{{costumer.tb_person.address.street_avenue}}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-4 pb-2">
                                    <div class="col-auto">
                                        <label class="form-label" for="number">Número da Residência</label>
                                        <div class="input-group mb-2">
                                            <input type="text" class="form-control" id="houseNumber" name="number"
                                                placeholder="00000" maxlength="5" required
                                                value="{{costumer.tb_person.address.number}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-3 mb-4 pb-2">
                                    <label for="uf" class="pb-2">Estado</label>
                                    <select class="select form-select" name="uf" required>
                                        {% if costumer.tb_person.address.uf%}
                                        <option value="{{costumer.tb_person.address.uf}}">
                                            {{costumer.tb_person.address.uf}}</option>
                                        {% else %}
                                        <option value="None" disabled selected>Selecione uma UF</option>
                                        {% endif %}
                                        <option value="RO">Rôndonia</option>
                                        <option value="AC">Acre</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="RR">Roraima</option>
                                        <option value="PA">Pará</option>
                                        <option value="AP">Amapá</option>
                                        <option value="TO">Tocantins</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="PI">Piauí</option>
                                        <option value="CE">Ceará</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="BA">Bahia</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="ES">Espirito Santo</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="PR">Paraná</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="GO">Goiás</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3 ">
                                    <div class="col-auto">
                                        <label class="form-label" for="city">Cidade</label>
                                        <div class="input-group mb-2">                                   
                                            <input type="text" class="form-control" id="city" name="city"
                                                placeholder="Cidade" maxlength="40" required
                                                value="{{costumer.tb_person.address.city}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3 pb-2">
                                    <div class="col-auto">
                                        <label class="form-label" for="additional_information">Informações
                                            Adicionais</label>
                                        <div class="input-group mb-2">
                                            <input type="text" class="form-control" id="additionalInfo"
                                                name="additional_information" required
                                                value="{{costumer.tb_person.address.additional_information}}"
                                                placeholder="Ponto de referência, locais próximos, etc..."
                                                maxlength="50">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    {% if errors %}
                        <div id="erros">
                            {% for error in errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="row justify-content-center">
                        <button type="submit" class="form-btn">Finalizar Edição</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
{% endblock %}
