* {
	font-family: 'Roboto', sans-serif;
}

:host, :root {
    --primary-color: #6750A4;
	--secondary-color: #79747E;
}

*,
::before,
::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	font-weight: 700;
	color: inherit;
}

.button {
	height: 40px;
	padding: 0 20px;
	border: 1px solid;
	border-radius: 100px;
	text-transform: lowercase;
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.button.button-default {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	color: #fff;
}

.button.button-default:hover {
	background-color: #fff;
	border-color: var(--primary-color);
	color: var(--primary-color);
}

.button.button-outline {
	background-color: #fff;
	border-color: var(--secondary-color);
	color: var(--primary-color);
}

.button.button-outline:hover {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
	color: #fff;
}

.button.button-large {
	height: 50px;
	text-transform: none;
	padding: 0 40px;
	font-size: 16px;
}

/* Sidebar */
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	margin-top: 75px;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
	width: 240px;
	z-index: 600;
	background-color: var(--primary-color);
}

#LogoutButton {
	bottom: 40px;
}

/* @media (min-width: 991.98px) {
	body:not(.page-login):not(.page-register):not(.page-recovery-password) main {
		padding-left: 240px;
	}
} */

/* Navbar */
.navbar {
	padding: 0;
}

#main-navbar .navbar-toggler {
	display: block !important;
}

.container-fluid {
	background-color: var(--primary-color);
	height: 75px;
	text-align: right;
	align-items: right;
	align-content: right;
}

.navbar-toggler {
	margin-left: 20px;
}

@media (max-width: 991.98px) {
	.sidebar {
		width: 100%;
	}
}

body:not(.page-login):not(.page-register):not(.page-recovery-password) main {
	padding-top: 75px;
}

.sidebar .active {
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: 0.5rem;
	overflow-x: hidden;
	overflow-y: auto;
	/* Scrollable contents if viewport is shorter than content. */
}